nav ul li a {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    border-radius: 1rem;
    @include boton(red, white, black);
    

    &:hover {
        border-radius: px;
        transition: 0.9s ease-out;
        padding: 0px;
        font-size: 40px;
      


        .clap {
            width: 1250px;
            right: 35px;
          



            .fondo {
                width: 1300px;
                background-color:map-get($colores,backgroundheader);


                .navbar-nav hover {
                    border-radius: 1rem;
                    cursor: pointer;
                    transition: padding 0.30 ease;
                    font-size: 1.5rem;
                  




                }
            }

        }
    }
}