$colores:(
    backgroundheader: rgb(41, 209, 173) ,
    colortextheader:  rgb(0, 0, 0) ,
    colortextfooter:  rgb(109, 95, 95) ,
    backgroundnav: rgb(159, 224, 216) ,
    ) ;

    $tamaños:(

    );

    $transiciones:(

    );


