@import "partials/generales";
@import "partials/variables";
@import "partials/cabecera";
@import "partials/mixings";
@import "partials/maps";

@import "partials/body";
@import "partials/main";
  

  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
 
 
  



  
  
  

 



  
  
  .titulos {
    display: flex;
    justify-content: space-around;
    font-size: x-large;
    padding: 18px;
    font-size: 35px;
  
  }
  
  
  .lista {
    margin-top: 20%px;
    padding: 18px;
  }
  
  
  
  
  
  .cigarro {
    margin: 5px;
    border: 0px;
    width: 360px;
    height: 400px;
    display: inline;
    justify-content: space-between;
  }
  
  .catalogo {
  
    display: flex;
    justify-content: space-around;
  
  
  
  
  }
  
  body {
    background-image: url(/images/gomitas.jpg);
    height: 1500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px;
    padding: 18px;
    margin: 15px;
  }
  
  .escondido ol li ul {
    cursor: pointer;
    margin: 15px;
    padding: 18px;
  
  }
  
  .escondido ol li {
  
    font-size: 18px;
    padding: 18px;
    list-style: none;
  }
  
  .la {
    text-transform: uppercase;
    border: solid;
    margin: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    background-color: beige;
    border-radius: 9px;
  }
  
  
  
  
  
  
  form fieldset {
    background-color: rgb(0, 0, 0);
    color: #858080;
    border-radius: 20px;
    padding: 18px;
  
  }
  
  fieldset input {
    border-radius: 8px;
  
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  .color li {
    margin: 10px;
    padding: 15px;
  
  }
  
  .color li a {
    color: black;
  
  }
  
  footer ol li {
    font-size: 18px;
    padding: 6px;
  
  
  }
  
  footer a img {
    border-radius: 25px;
    padding: 15px;
    margin-top: 100px;
  
  }
  
  
  
  
  .ubicacion {
    border: 02px solid;
    grid-area: ubicacion;
    display: flex;
    justify-content: space-around;
    padding: 3rem;
  
  }
  
  .row.ub {
    margin: 1rem;
    padding-bottom: 7rem;
  }
  
  
  
  .row.marcass {
  
    font-size: 1.5rem;
    color: #ffffff;
    border: 0;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: padding 0.30 ease;
    width: 500px;
    height: 210px;
  
  }
  
  .marcass.img {
    width: 100px;
  
  }
  
  
  .marcass:hover {
    border-radius: 100px;
    transition: all 0.9s;
    padding: 5px;
  }
  
  .marcass {
    border-radius: 0.8rem;
  }
  
  .rayas {
    display: flex;
    border: 0;
    border-radius: 1rem;
    cursor: pointer;
    transition: padding 0.30 ease;
    width: 1128px;
    height: 50px;
  
  
  }
  
  .rayas:hover {
    border-radius: 25px;
    transition: all 0.9s;
    color: aqua;
    background-color: black;
    padding: 6px;
    font-size: 1.5rem;
    width: 610px;
  
  
  
  }
  
  .efecto :hover {
    transition: all 3s;
    padding: 1.5rem;
  
  
  }
  
  .efecto {
  
    transition: padding 4 ease;
    border: 0;
    border-radius: 0.5rem;
    cursor: pointer;
  
  }
  
  
  aside {
    justify-content: center;
    padding: 18px;
  }
  
  
  .color li {
    background-color: #71d9f8;
    text-align: center;
    font-size: 150%;
    border-radius: 25%;
    list-style: none;
  }
  
  
  
  .redes img {
  
    width: 150px;
    height: 150px;
  
  }
  
  .redes {
  
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1rem;
    margin: 1rem;
  }

