* {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}






a {
  text-decoration: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: black;

}

nav {
  display: flex;
  justify-content: center;
  border-radius: 15px;
  font-size: 25px;



}

/*aqui comienza el body, header */

/*
  
  
.centrar {
display: flex;
flex-wrap: wrap;

} 


ul {
    list-style: none;
    font-size: 0;
    background-color: #0cbbf0;
    padding: 18px; 
    margin-bottom:2%;
    contain: cover;
    border-radius: 15px;
   
    
  }
 
 
  
  li {
    display: inline-block;
    width: 19%;
    position: relative;
    font-size: 14px;
    margin: 0px;
   

  }
  
  li a {
   
    color: #ffffff;
    font-size: 29px;
    font-family:Georgia, 'Times New Roman', Times, serif ;
    text-decoration: none;
    
   
   
  }
  
  ul ul {
    position: absolute;
    display: none;
    cursor: pointer;
   
   
    
  }
  
  ul ul li {
    display: block;
   
  }
  
  ul li:hover ul {
    display: block;
    padding: 18px;
   
    
  }*/







/* fin del header comienza el main index*/


.fondo{
  width: 1300px
  
}
.clap{
  width: 1250px;
  right: 35px;
  
}

.container{
  text-align:justify;
  padding: 5px;
  margin: 3px;
}

  

.cards {
  display:flex;
  justify-content: space-between;
  padding: 0px;
  margin: 0px;
  margin-bottom: 200px;
  margin-top: 200px;


}

.card {

  border-color: black;
  border-radius: 20px;
  background-color:aliceblue;
  margin: 10px;
  padding: 5px;

}

.card.choc img {
  height: 350px;
  
}

div a {
  width: 280px;



}


.titulos {
  display: flex;
  justify-content: space-around;
  font-size: x-large;
  padding: 18px;
  font-size: 35px;

}


.lista {
  margin-top: 20%px;
  padding: 18px;
}





.cigarro {
  margin: 5px;
  border: 0px;
  width: 360px;
  height: 400px;
  display: inline;
  justify-content: space-between;
}

.catalogo {

  display: flex;
  justify-content: space-around;




}

body {
  background-image: url(/images/gomitas.jpg);
  height: 1500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 50px;
  padding: 18px;
  margin: 15px;
}

.escondido ol li ul {
  cursor: pointer;
  margin: 15px;
  padding: 18px;

}

.escondido ol li {

  font-size: 18px;
  padding: 18px;
}












/* comienza el seccion*/
form fieldset {
  background-color: rgb(0, 0, 0);
  color: #858080;
  border-radius: 20px;
  padding: 18px;

}

fieldset input {
  border-radius: 8px;

}












/* comienza el footer*/

.color li {
  margin: 10px;
  padding: 15px;

}

.color li a {
  color: black;

}

footer ol li {
  font-size: 18px;
  padding: 6px;


}

footer a img {
  border-radius: 25px;
  padding: 15px;
  margin-top: 100px;

}

.body {
  display: grid;
  grid-template-areas:
    "header header header"
    "productos productos productos"
    "ubicacion ubicacion ubicacion"
    "footer footer footer";
  grid-template-rows: 2fr 3fr 2fr 1fr;
  grid-template-columns: 1fr auto 1fr;
  height: 100vh;
  row-gap: 120px;
  column-gap: 10px;

}

/*.header{
  background-color: red;
}
.main{
  background-color: green;

}
.footer{
  background-color: blue;
  
}*/
.ubicacion {
  border: 05px solid;
  grid-area: ubicacion;
  display: flex;
  justify-content: space-around;
  padding: 18px;
}

/*.header {
  grid-area: header;
  position: fixed;
  margin: 0px;
  padding: 18px;
  width: 1200px;
  }*/






/*.main {
  grid-area: productos;
  font-size: 18px;
  padding: 18px;
}

#textos {
  background-color: #71d9f8;
  margin-top: 200px;

}
*/
.marcass {
  display: flex;
  align-content: space-between;
  background-image: linear-gradient URL(./images/gomitas.jpg);
  font-size: 1.5rem;
  color: #ffffff;
  border: 0;
  border-radius: 0.5rem;
  cursor: pointer ;
  transition: padding 0.30 ease ;
  width: 500px;
  height: 210px;
  
  }
  .marcass:hover{
    padding: 1rem ;
    transition: all 1.5s;
    
    
  }
  

aside {
  justify-content: center;
  padding: 18px;
}


.color li{
  background-color: #71d9f8;
  text-align: center;
  font-size: 25px;
  border-radius: 25px ;
  list-style: none;
}

footer {
  grid-area: footer;
  font-size: 15px;
  padding: 18px;
}

.redes img {
  
  width: 150px;
  height: 150px;
  
}
.redes{
  display:inline ;
  
}

/*


 @media screen and (max-width: 480px) and (min-height: 0px){
  .body{
    
    grid-template-areas: 
    "header "
    "productos"
    "ubicacion"
    "footer ";
    grid-template-rows: repeat (4, 1fr);
    grid-template-columns: 1fr;
    height: 100vh;
    row-gap: 0px;
    column-gap: 0px;  
  
    }

.header{
display: flex;
align-content: space-between;
width: 500px;
height: 200px;
margin: 0px;
padding: 0px;
left: 5px;
  
}
.centrar{

padding: 05px;
margin: 4px;
align-content: space-between;
font-size: 25px;


}

li{
  width: 25%;
}
.titulos{
  margin-top: 70px;
  padding: 0px;
  font-size: 25px;

}
  

 }




 
  @media screen and (min-width: 481px) and (max-whidth: 1200px) {
    .body{
    
      grid-template-areas: 
      "header "
      "productos"
      "ubicacion"
      "footer ";
      grid-template-rows: repeat (4, 1fr);
      grid-template-columns: 1fr;
      height: 100vh;
      row-gap: 0px;
      column-gap: 0px;   
  }
}

*/